.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: darkseagreen;
  }
  
   .jumbotron {
    margin-bottom: 0;
    background-image: url(Assets/banner.jpg);
  }
 
   footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .rounded-sm {
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 3px 2px 7px 1px #878787;
}